.Header {
    justify-content: space-between;
}
.btn-turqouis {
    background-color: #00fbff;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 20px;
    padding: 0.4em 0.7em;
    cursor: pointer;
}
.btn-turqouis:hover {
    background-color: white;
}