@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}

:root {
    /* Colors */
    --black: #000000;
    --light-gray: #636363;
    --green: #94c11f;
    --white: #ffffff;
    --light-blue: #0d75b2;
    --dark-green: #597a01;
    --dark-blue: #0056b3;
    --dim-blue: #e6f2f2;
}
header {
    position: fixed;
    background: linear-gradient(to right, #203864, #2e74b6);
    color: var(--white);
    padding: 10px;
    width: 100%;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: end;
    justify-content: left;
}

.bold-text {
    font-weight: 500;
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    color: var(--white);
}

.bx-home {
    color: var(--white);
    font-size: 40px;
}

.bx-right-arrow-alt {
    font-size: 25px;
    padding-left: 0px;
}

.Header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.RightButtonContainer {
    margin-left: 30px;
    padding-right: 20px; /* Adjust as needed for spacing */
}

.ReportButtonContainer {
    margin-left: auto;
    padding-right: 200px; /* Adjust as needed for spacing */
}

h1 {
    margin-left: 10px; /* Remove default margin for h1 */
}

.RightButton {
    background-color: black;
    color: white;
    padding: 0px 50px 0px 50px;
    /* margin: 0px 27px 0px 0px; */
    border: solid 1px black;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 12px;
    width: auto;
    height: 50px;
    transition-duration: 0.3s;
}

.RightButton:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
}

.ReportButton {
    background-color: #00fbff;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: solid #00fbff;
    cursor: pointer;
    transition-duration: 0.3s;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
}

.ReportButtonActive {
    background-color: #ffffff;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: solid #000000;
    cursor: pointer;
    transition-duration: 0.3s;
}

.ReportButton:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
}

.bold-arbtext {
    font-weight: 500;
    margin-left: 30px;
    margin-top: -48px;
    padding-top: 40px;
    padding-bottom: 10px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}

.bold-text {
    font-weight: 500;
    margin-left: -75px;
    /* margin-top: -20px; */
    padding-top: 15px;
    font-size: 15px;
    text-decoration: none;
    color: var(--white);
}

.HeaderHeading {
    flex: 1;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.alert.alert-success {
    text-align: center;
    padding: 1em 0;
    color: green;
}
.w-100 {
    width: 100%;
}
.justify-content-between {
    justify-content: space-between;
}
.btn-report {
    background-color: #00fbff;
    color: black;
    border-radius: 20px;
    border: solid #00fbff;
    transition-duration: 0.3s;
    font-size: 14px;
    text-align: center;
    margin: 0 .2em;
    text-decoration: none;
    padding: .2em .5em;
    font-family: "Roboto", sans-serif;
    width: auto;
    display: inline-block;
}   

.btn-report:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
}

.btn-report p {
    margin: 0;
    font-size: 14px;
}